
.ContactUs{
    background-image: url("./pics/santa_tech.webp");
    background-size: cover;
    height: 80vh;
}
.info{
    margin: 40px 400px;
    align-items: center;
    justify-content: center;
}
.heading_contact{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #9C0000;
    ;
}
.boxx{
    margin: 12px 6px;
    padding: 12px 6px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.863);
    color: rgb(243, 237, 237);
}
.btnn:hover{
    background-color: #9C0000;
    color: white;
}