.foot{
    background-color: #9C0000;
    color: white;
    padding: 30px 20px;
}
.first{
    display: flex;
}
.second{
    display: flex;
}
.comp{
    margin-left: 40px;
}
.comp1{
    margin-left: 550px;
}
.comp2{
    margin-left: 635px;
}
.third{
    text-align: center;
}