.foot{
    background-color: #9C0000;
    color: white;
    padding: 30px 20px;
}
.first{
    display: flex;
}
.second{
    display: flex;
}
.comp{
    margin-left: 40px;
}
.comp1{
    margin-left: 600px;
}
.comp2{
    margin-left: 670px;
}